{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Sathi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'landingPage.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'lawsathi.png' %}" alt="logo" class="logo">
        <div class="headerItems">
            <div class="navitem">
                <i class="fas fa-comment"></i>
            </div>    
            <div class="navitem">
                <i class="fas fa-bell loading-screen-other-icons"></i>
            </div>
            <div class="navitem">
                <i class="fas fa-user-circle loading-screen-other-icons" style="font-size: 40px"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sidebar">
            <div class="navitem">
                <i class="fas fa-th-large loading-screen-other-icons"></i>
                <p>Dashboard</p>
            </div> 
            <div class="navitem">
                <i class="fas fa-comments loading-screen-other-icons"></i>
        
                <p>Chatbot</p>
            </div> 
            <div class="navitem">
                <i class="fas fa-gavel loading-screen-other-icons"></i>
                <p>Lawyers</p>
            </div>
        </div>
    
        <div class="main">
            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>

            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>

            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>

            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>

            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>

            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>

            <div class="cardNews">
                <span class="title">Title</span>
                <p>
                    Law sathi is a good law app for those who are looking for a lawyer.
                </p>
                <a href="#" class="anchor">Read More</a>
                <img src="https://images.unsplash.com/photo-1593642632823-8f785ba67e45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="newsImage" class="cardImg">
            </div>
            
        </div>
    </div>    

</div>
 
</body>
</html>
