

body {
    font-family: 'Arial', sans-serif;
    background-color: #12394a;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 100%;
    max-width: 800px;
    background-color: #154458;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:50%;
    top:25%;
    transform: translate(40%,14%);
}

h1 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    color: #fcfcfc;
}

.username {
    font-size: 20px;
    color: #7f8c8d;
    margin-bottom: 40px;
    text-align: center;
}

.form-group {
    width: 150%;
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    font-size: 18px;
    color: #fefefe;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="password"], 
input[type="tel"], 
select {
    width: 100%;
    padding: 18px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="date"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
select:focus {
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

.form-group .input-icon {
    position: absolute;
    right: 10px;
    top: 38px;
    color: #bdc3c7;
}

button[type="submit"] {
    width: 100%;
    background-color: #2980b9;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1a6a96;
}

.update-info {
    text-align: center;
    margin-top: 20px;
}

.update-info a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.update-info a:hover {
    color: #1a6a96;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    .form-group input,
    .form-group select {
        font-size: 13px;
        padding: 10px;
    }

    button[type="submit"] {
        font-size: 15px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .form-group input,
    .form-group select {
        font-size: 12px;
        padding: 8px;
    }

    button[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}