{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'login.css' %} ">

</head>
<body>
    <img class="logo" src="{% static 'law.png' %} ">
     <div class="container">
        <div class="image-section">
            <img src="{% static 'lawsathi1.png' %} " alt="Lady Justice">
        </div>
        <div class="form-section">
                <img class="logo1" src="{% static 'law.png' %} " alt="Logo">
                <h3>Lawyer Login</h3>
            <form class="login-form" method="POST" action=" {% url 'lawyerlogin' %} ">
                {% csrf_token %}
                <div class="frame-2151">
                    <div class="username">
                        <div class="gridiconsuser">
                            <img class="vector-10" src="{% static 'gridicons_user.png' %} " />
                        </div>
                    <div class="username-1">
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    </div>
                    <div class="password">
                        <div class="uislock">
                            <img class="vector-9" src="{% static 'uis_lock.png' %} " />
                        </div>
                        <div class="password-1">
                            <input type="password" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="options">
                    <label><input type="checkbox"> Remember password</label>
                    <a class="forgot_pw" href="#">Forgot password?</a>
                </div>
                    <button class="submit" type="submit">Login</button>
            <div class="frame-2184">
                <div class="new-to-law-saathi">
                    New to LAW साथी?
                </div>
            <a href="{% url 'lawyersignup1' %}"><button class="button" type="button">Register</button></a>
        </div>
        </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    {% if messages %}
    {% for message in messages %}
        <script>
            toastr["{{ message.tags }}"]("{{ message|escapejs }}");
        </script>
    {% endfor %}
{% endif %}
</body>
</html>
