{% extends 'base.html'%}
{% load static %}
</div>
<div class="navitem" id="top-right-user-icon"  onclick="toggleUserDetails()">
    <i class="fas fa-user-circle loading-screen-other-icons" style="font-size: 40px"></i>
  <!-- <div id="user-details" class="user-details hidden">
    <p><strong>Username:</strong> <span class="user-detail">{{ request.user.username }}</span></p>
<p><strong>Email:</strong> <span class="user-detail">{{ request.user.email }}</span></p>
<p><strong>Phone Number:</strong> <span class="user-detail">{{ request.user.moreuserinfo.phone_number }}</span></p>
<p><strong>Gender:</strong> <span class="user-detail">{{ request.user.moreuserinfo.gender }}</span></p>
<p><strong>Date of Birth:</strong> <span class="user-detail">{{ request.user.moreuserinfo.dob }}</span></p>
</div> -->

</div>
</div>
</div>